.chat__body {
  flex: 1;
  padding: 50px;
  padding-bottom: 10px;
  height: 38vw;
  max-width: 100%;
  overflow-y: scroll;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat__message {
  position: relative;
  font-size: 20px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: gray;
  margin-bottom: 30px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.chat__receiver {
  margin-left: auto;
  background-color: rgb(0, 255, 0);
}

.chat__name {
  width: max-content;
  position: absolute;
  top: -15px;
  font-size: 12px;
  font-weight: bold;
}

.chat__footer {
  padding: 20px;
}
